.header{
    padding: 5px 20px;
    background-image: url("../../assets/img/index.jpeg");
  }
  
  .title{
    font-family: 'Roboto', sans-serif;
    color:red;
    text-decoration: none;
 

  }
  .login,.register{
    float: right;
    text-decoration: none;
    color: aliceblue;
    padding-top: 10px;
  }
  .logout,.new-post{
    float: right;
    color: aliceblue;
    padding-top: 10px;
    text-decoration: none;
   
  }